<div class="lunch">
    <div style="background-image:url('{{ dinner.image.url }}')" class="lunch__image"></div>
    <div class="lunch__desc">
        <div class="lunch__top">
            <div data-desc="{{ dinner.total_weight }} гр / {{ dinner.calories }} ккал"
                 class="lunch__title">{{ dinner.name }}
            </div>
            <div class="lunch__cost">
                {% if order_item %}
                    <div class="lunch__cost-count">{{ order_item.quantity }}</div>
                    <div class="lunch__cost-all">{{ order_item.dinner.cost }}</div>
                {% else %}
                    {{ dinner.cost }}
                {% endif %}
            </div>
        </div>
        <div class="lunch__box">
            <div class="lunch__item lunch__item-hot">{{ dinner.dinner_soup }}</div>
            <div class="lunch__item lunch__item-second">{{ dinner.dinner_second }}
            </div>
            <div class="lunch__item lunch__item-salad">{{ dinner.dinner_salad }}</div>
            <div class="lunch__item lunch__item-dessert">{{ dinner.dinner_dessert }}</div>
        </div>
        <div class="lunch__control">

            <div class="lunch__control-text">Выбрать количество порций</div>
                    <div class="lunch__control-cont">
                    <form action="{% url 'basket_change' %}" class='item-quantity-form' method="post">
                        {% csrf_token %}

                            <input name='item_id' type='hidden' value="{{ item.id }}">
                            <div class="lunch__control-minus">
                                <button type='submit' name='action' value='decrease'
                                        class="round-button minus"></button>
                            </div>
                            <div class="lunch__control-count">{{ item.quantity }}</div>
                            <div class="lunch__control-plus">
                                <button type='submit' name='action' value="increase" class="round-button plus"></button>
                            </div>

                    </form>
                        </div>



        </div>
    </div>
</div>