{% extends 'base.html' %}
{% block title %} Детали доставки {% endblock %}
{% block content %}
        <div class="detail">
          <div class="detail__inner">

              <div class="detail__title">Детали заказа № <span id="order_id">{{ order.id }}</span></div>
            <div class="detail__desc">
              <div class="detail__date">{{ order.delivery_at|date:"d.m.Y" }}</div>
                <div class="detail__time">{{ time_now|date:"H.i" }}</div>
                <div><span id="route_id" hidden="true">{{ order.courier_id }}</span></div>
            </div>

            <div class="detail__order">
                {% for order_item in items %}
              <div class="detail__item">

                <div class="weekly__item">
                    {% include 'include/menu_include.html' with dinner=order_item.dinner order_item=order_item %}

                </div>
              </div>

{% endfor %}
            </div>

            <div class="detail__order-info">
                <div class="detail__delivery">100</div>
              <div class="detail__itogo">{{ order.sum_cost }}</div>
            </div>
            <div class="detail__courier">Курьер уже в пути!<br>Ориентировочное время доставки <span class='detail__courier-time'>{{ order.delivery_at|date:'H:i' }}</span></div>
              <div id="YMapsID" style="width: 1000px; height: 1000px">
                  <script src="https://api-maps.yandex.ru/2.0/?load=package.standard&mode=debug&lang=ru-RU" type="text/javascript"></script>

              </div>



          </div>

        </div>



        {% endblock %}