{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Ресторан доставки обедов  Kotletas{% endblock %}
{% block content %}
    <div class="hero">
        <div style="background-image:url('../static/img/design/main.png')" class="hero__image"></div>
        <div class="layout__inner">
            <div class="hero__cont">
                <div class="hero__text">доставка <span>обедов</span></div>
            </div>
            <div class="hero__bottom">
                <div class="hero__bottom-text">СМОТРИ МЕНЮ НА СЕГОДНЯ<span></span></div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="layout__inner">
            <div class="menu__cont">
                {% for item in basket.items.all %}
                   {% include 'include/menu_include.html' with dinner=item.dinner item=item %}
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="order">


        {% if not user.is_authenticated %}

             <div class="form main__form">
            <div class="form__title">ОФОРМИТЬ ЗАКАЗ</div>
            <div class="form__tab">
                <div data-tab="tab_1" class="form__tab-item active">ВХОД</div>
                <div data-tab="tab_2" class="form__tab-item">РЕГИСТРАЦИЯ</div>
            </div>
            <div data-tab="tab_1" class="form__item active">
                <form class="form__this" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form__line">
                        <div data-input="Номер телефона" class="input__cont input__phone">
                            <input id="id_phone" name="phone" class="input__this input__this-phone"/>
                        </div>
                    </div>
                    {%   if form.non_field_errors %}
                    <div class="form__line error">
                    {% else %}
                        <div class="form__line ">
                            {% endif %}
                        <div data-input="Пароль" class="input__cont">
                            <input type="password" name="password" class="input__this"/>
                        </div>
                    </div>
                    <div class="form__bottom">
                        <button class="button">ПРОДОЛЖИТЬ</button>
                    </div>
                </form>
            </div>
            <div data-tab="tab_2" class="form__item">
                <form class="form__this" method='post' action="{% url 'registration' %}">
                    {% csrf_token %}

                    {% if   form.phone.errors %}
                        <div class="form__line error">
                    {% else %}
                        <div class="form__line ">

                    {% endif %}
                        <div data-input="Номер телефона" class="input__cont input__phone">

                            <input id="id_phone" name="phone" class="input__this input__this-phone" />

                        </div>
                    </div>
                    <div class="form__line form__line-sms">
                        <button class="button__sms" name = 'button' value = 'send_sms'>Выслать SMS-код</button>

                           {% if form.non_field_errors %}
                               <div class="form__sms error">
                               <div class="form__sms-error">Неверный или пустой код</div>
                               {% else %}
                                   <div class="form__sms ">
                                       {% endif %}
                            <div class="form__sms-text">SMS-КОД:</div>
                            <div class="form__sms-right">
                                <input name='code' class="form__sms-input"/>


                            </div>
                        </div>
                    </div>
                    <div class="form__line">
                        <div data-input="Пароль" class="input__cont">
                            {{ form.password.errors }}
                            <input type="password" name='password' class="input__this"/>

                        </div>
                    </div>
                    <div class="form__bottom">
                        <button class="button" name = 'button' value = 'check_in'>РЕГИСТРАЦИЯ</button>

                    </div>
                </form>
            </div>
        </div>
 {% else %}

         <div class="form order__address" >
            <div class="form__title">ОФОРМИТЬ ЗАКАЗ</div>
            <div class="form__desc">АДРЕС ДОСТАВКИ</div>
            <form class="form__this form__address" method="post" action="{% url 'address' %}">
                {% csrf_token %}
              <div class="form__line">
                <div data-input="Ваш адрес " class="input__cont">
                  <input id ='address' required ='' name='address' type="text" class="input__this"/>
                </div>
              </div>
              <div class="form__more">Если все верно:</div>
              <div class="form__bottom">
                <button type="submit" class="button">ПРОДОЛЖИТЬ</button>
              </div>
            </form>
          </div>

          <div class="form order__time" style="display: none;">
            <div class="form__title">ОФОРМИТЬ ЗАКАЗ</div>
            <div class="form__desc">УКАЗАТЬ ВРЕМЯ ДОСТАВКИ</div>
            <form class="form__this" action="{% url 'time'%}" method="post" >
                {% csrf_token %}
              <div class="form__line form__line-time">

                <div class="form__time ">
                  <input placeholder="00" name='hour' id='hour' class="form__time-input"/>
                </div>
                <div class="form__time">
                  <input placeholder="00" name='minute' value="00" class="form__time-input"/>
                </div>
              </div>
              <div class="form__bottom">
                <button class="button">ПРОДОЛЖИТЬ</button>
              </div>
            </form>
          </div>


{% endif %}

    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--[if lt IE 10]>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.suggestions/17.2/js/jquery.suggestions.min.js"></script>
    <script type="text/javascript">
    $("#address").suggestions({
        token: "35a81698e41e890314ce60b92a0e77f9a9df8b9b",
        type: "ADDRESS",
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {

            basketData = {
                address: suggestion.data.source,
                longitude: suggestion.data.geo_lon,
                latitude: suggestion.data.geo_lat,
            };
            console.log(suggestion);

        }
    });
</script>




{% endblock %}