{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content%}


 <div class="persona">
          <div class="layout__inner">
            <div class="persona__inner">
              <div class="persona__title">Личный кабинет</div>
              <div class="persona__cont">
                <div class="persona__left">
                  <div class="persona__history">
                    <div class="history">
                      <div class="history__title">ИСТОРИЯ ЗАКАЗОВ</div>
                      <div class="history__cont">
                        <div class="history__table">
                          <table class="paginated">
                            <thead>
                              <tr>
                                <th scope="col" style="width:30%">Дата</th>
                                <th scope="col" style="width:40%">Стоимость, р.</th>
                                <th scope="col" style="width:30%">Статус</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                              <tr data-href="/detail.html" class="clickable-row">
                                <td class="history__date">{{ order.delivery_at|date:'d.m.Y' }}</td>
                                <td>{{ order.sum_cost }}</td>
                                  {% if order.status %}
                                      <td data-status="end" class="history__status"></td>
                                    {% else %}
                                <td data-status="work" class="history__status"></td>
                                 {% endif %}
                              {% endfor %}
                              </tr>

                            </tbody>
                          </table>
                        </div>
                        <div class="pager">
                          <a class="page__control page__first">
                          </a>
                          <a class=" page__control page__prev">
                                        </a>
                          <a class=" page__control page__next">
                                        </a>
                          <a class=" page__control page__last">
                                        </a>
                          <div class="pager__box">

                              {% for page_number in paginator.page_range %}
                              <span class="page-number clickable active {% if page.number == page_number %}
                              active {% endif %}">
                          <a href="?page={{ page_number }}">{{ page_number }}</a></span>
                              {% endfor%}
                                        </div>
                                    </div>
                      </div>
                    </div>
                  </div>
                  <div class="persona__options">
                    <div class="options">
                      <div class="options__title">НАСТРОЙКИ</div>
                      <form class="options__form" method='post' action="{% url 'change_password' %}">
                          {% csrf_token %}
                        <div class="options__line">
                          <div data-input="Текущий пароль" class="input__cont">
                            <input type="password" name="current_password" class="input__this"/>
                          </div>
                        </div>
                        <div class="options__line">
                          <div data-input="Новый пароль" class="input__cont">
                            <input type="password" name='new_password' class="input__this"/>
                          </div>
                        </div>
                        <div class="options__line">
                          <div data-input="Повторить новый пароль" class="input__cont">
                            <input type="password" name= 'new_password_again' class="input__this"/>
                          </div>
                        </div>
                        <div class="options__bottom">
                          <button class="button" type="submit">СОХРАНИТЬ</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="persona__right">
                  <div class="statham">
                    <div class="statham__item"><img src="/media/statham_01.png"/></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


{% endblock %}