{% extends 'base.html' %}
{% block title %}Меню на неделю{% endblock %}
{% block content %}
    <div class="weekly">
        <div class="weekly__inner">
            <div class="weekly__title">МЕНЮ НА НЕДЕЛЮ</div>
            <div class="weekly__date">{{ start|date:"d.m.Y" }} - {{ finish|date:"d.m.Y" }}</div>
            <div class="weekly__cont">
                {% for menu in menues %}
                    <div data-day="{{ menu.date|date:'l' }}" class="weekly__line">
                        <div class="weekly__box">
                            {% for dinner in menu.dinners.all %}
                                <div class="weekly__item">
                                {% include 'include/menu_include.html' %}
                                </div>
                            {% endfor %}


                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}